/* Home.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


  

/* This rule targets the links/buttons within a flex container */
.header-links {
  display: flex; /* Ensure header-links is a flex container */
  justify-content: space-around; /* Distribute space around the links */
} 

.header-links > a,  
.header-links > button {
    margin: 9;  /* Reset default margins on links and buttons */
}

.container {
  margin-top: 100px; /* Adjust the margin as needed */
}

.flex.flex-col.border.rounded-lg.p-4 {
  margin-top: 20px; /* Add margin between heading and the card */
}


.habit-section { /* Add a more specific class */
  margin-top: 200px; /* Adjust the spacing from the top */
}


.habit-card {
  margin-bottom: 20px; /* Spacing between habit cards */
}
