/* app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to your CSS file */
.completed {
  text-decoration: line-through;
}

.calendar-container .react-calendar {
  width: 100%; /* Set width to the maximum of its container */
  height: 400px;
  font-size: 20px; /* Increase font size for better readability */
}

/* AdminDashboard.css */

.admin-dashboard {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.admin-section {
  border: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
  width: 200px; /* or whatever width you desire */
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.admin-section:hover {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* App.css */
.admin-dashboard-background {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');
}

.admin-card svg {
  stroke-width: 1.5;
}

/* This rule will no longer be needed as we are using flex-grow for spacing */
/* .header-links {
  display: flex;
  justify-content: space-around;
} */
:root {
  /* Define a custom property for the header's height */
  --header-height: 55px; /* Adjust this value to match your header's actual height */
}

body {
  margin: 0;
  padding-top: var(--header-height); /* Apply the header height as padding to the top of the body */
  font-family: 'Reem Kufi', sans-serif;

}
/* Additional styles for your header */
/* Tailwind utility classes are being used here for illustration purposes */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f3f4f6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between; /* Space between logo and nav/profile */
  align-items: center;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #341f37; /* This is the gray-800 color from Tailwind CSS */
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.nav-link.active {
  border-bottom: 2px solid #3b82f6; /* Blue underline for active page */
  padding-bottom: calc(0.5rem - 2px); /* Adjust padding to align with other nav items */
}

.nav-link:hover {
  background-color: #e5e7eb; /* This is the gray-200 color from Tailwind CSS */
}

/* Place login, signup, and profile to the right on larger screens */
@media (min-width: 768px) {
  .header .flex.space-x-4 {
    margin-left: auto; /* Push the container to the right */
  }
}

/* Adjust content when menu is open on small devices */
@media (max-width: 768px) {
  .header .nav-menu.active + .flex.space-x-4 {
    flex-direction: column; /* Stack items */
    align-items: flex-start; /* Align items to the start */
  }
}

/* Ensure content stacks under each other on small devices */
@media (max-width: 768px) {
  .dashboard-container,
  .dashboard-content,
  .habit-container,
  .habit-content {
    flex-direction: column;
  }

  .dashboard-section,
  .habit-section {
    /* Full width for small screens */
    width: 100%;
    margin-bottom: 1rem;
  }
}
.active {
  border-bottom: 2px solid blue; /* Indicates the active page */
}
/* Larger screens */
@media (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
  }
}

/* Your existing styles */
/* In your CSS file */
.signup-button {
  padding: 0.5rem 1rem;
  color: black;
  background-color: #3182ce; /* Tailwind blue-500 */
  border-radius: 0.375rem; /* rounded-md equivalent */
}
.signup-button:hover {
  background-color: #2b6cb0; /* Darker blue background on hover */
}
.login-button {
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 0.375rem; /* rounded-md equivalent */
}
.login-button:hover {
  background-color: #2b6cb0; /* Darker blue background on hover */
}
.logout-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #3182ce; /* Tailwind blue-500 */
  border-radius: 0.375rem; /* rounded-md equivalent */
}


.logout-button:hover {
  background-color: #2b6cb0; /* Darker blue background on hover */
}

.profile-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Directly targeting the profile block, adjust the class name as necessary */
.profile-block {
  margin-top: 100px; /* Or whatever value makes sense for your layout */
  width: 100%; /* Full width on small screens */
  max-width: 500px; /* Max width to prevent it from stretching too far on large screens */

  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  /* More styles... */
}

.profile-actions button {
  width: auto; /* Auto width for buttons to only take up the space they need */
}
/* Media query for larger screens */
@media (min-width: 768px) {
  .profile-block {
    /* Adjust the width or other styles if needed for larger screens */
  }

  .profile-actions {
    flex-direction: row; /* Row direction to have buttons side by side */
    justify-content: space-between; /* Space between the buttons */
  }

  .profile-actions button {
    margin-right: 0.5rem; /* Add right margin to the first button */
    margin-top: 0.5rem; /* Add some margin at the bottom of each input/button */

  }
}








.home{
  background-color: rgb(250, 253, 255);
  padding-bottom: 10px;
}

.title{
  background-color:#eeeaea	;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.9rem; /* rounded-md equivalent */

}
.home-title{
  font-size: 50px;
}

.home-subtitle{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25%;
  margin-left: 25%;
  text-align: center;
}

.home-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  color: white;
  border-radius: 1.9rem; /* rounded-md equivalent */

}

.section-1{
  background-color: rgb(250, 253, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-1-content{
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}



.section-2{
  background-color: rgb(250, 253, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-2-content{
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.section-1-img img,
.section-2-img img {
  margin: 20px;
  border-radius: 10%; /* This will make the images fully rounded, like a circle */
  width: 350px; /* Define size here if not defined inline in the img tag */
  height: 250px; /* Define size here if not defined inline in the img tag */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
}






.email-list {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}

.email-list-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.email-list-emails {
  padding: 0;
  list-style: none;
}

.email-list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
}

.email-list-item:hover {
  background-color: #f5f5f5;
}

.email-sender,
.email-subject,
.email-date {
  font-weight: bold;
}

.email-snippet {
  color: #757575;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 440px;
}


/* EmailList.css */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%; /* Corrected property */
  transform: translate(-50%, -50%);
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* Corrected property */
  border-radius: 4px; /* Corrected property */
  outline: none;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75); /* Corrected property */
}





/* About.css */

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro-section h1,
.team-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem; /* Make the title larger */
  font-weight: bold; /* Make the font bolder */
}

.team-section {
  margin-top: 40px;
  text-align: center;

}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.member-avatar {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%; /* Creates a circular avatar */
  background-color: #cccccc; /* Placeholder color, remove this if using images */
  margin-bottom: 10px;
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the background image */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }
}












/* HabitTracking.css */

.habit-tracker {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem 1rem; /* Added 2rem of padding to the top */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header1 h1 {
  font-size: 2.5em; /* Larger size for the main heading */
  text-align: left;
  font-weight: bold; /* Make the font bolder */

  
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 30px;

}

/* Style for all input types including 'text', 'date', and 'select' elements */
.form-section input[type="text"],
.form-section input[type="date"],
.form-section select,
.form-section textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc; /* This will add a border to your input */
  border-radius: 0.25rem;
  margin-bottom: 1rem; /* Space between form elements */
  background-color: #f7f7f7; /* Slight gray background for the input */
}

/* To make sure the labels are clear */
.form-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; /* Making the label text a little bolder */
  color: #333;
}
.form-section.full-width {
  grid-column: span 3;
}
.save-button {
  grid-column: span 3;
  padding: 10px;
  background: #2b6cb0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 640px) {
  /* This media query is for Tailwind's 'sm' breakpoint */
  .form-container {
    display: block;
  }

  .form-section,
  .save-button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/* Adjust the habit card for smaller screens */
.habit-card {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: stretch; /* Stretch items to fill the width */
}

/* For buttons in the habit card */
.delete-button,
.delete-button2 {
  margin-top: 1rem; /* Ensure space above buttons */
}

/* Add styling for .habit-list and .HabitCard components */
.habit-list {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Spacing between cards */
  margin-top: 2rem; /* Space above the list */
}

.habit-card {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1rem; /* Spacing between habit cards */
}

.habit-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.5rem; /* Space below the habit name */
}

.habit-details p {
  font-size: 1rem;
  color: #666666;
  margin: 0.25rem 0; /* Margin for paragraph spacing */
}

.delete-button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #22C55E; /* Red color for delete button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  margin-top: 1rem; /* Space above the delete button */
}

.delete-button:hover {
  background-color: #006400; /* Slightly darker red on hover */
}

.delete-button2 {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  background-color: #FF3B30; /* Red color for delete button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem; /* Space above the delete button */
}

.delete-button2:hover {
  background-color: #FF2C00; /* Slightly darker red on hover */
}



/* Add this to your App.css or the relevant CSS file */

.habit-completed {
  text-decoration: line-through;

  color: #c0c0c0; /* A lighter color to indicate the habit is completed */
}




/* Adjustments for the deadlines container */
.deadlines-container {
  /* existing styles, if any */
}

/* Adjustments for the content within the deadlines */
.deadlines-content {
  /* Flex column for mobile screens */
  flex-direction: column;
}

/* When the screen is medium size (like tablets), adjust the layout to flex row */
@media (min-width: 768px) {
  .deadlines-content {
    flex-direction: row;
  }
}

/* Each section within the deadlines should be allowed to grow and fill space */
.deadlines-list,
.deadlines-calendar {
  flex-grow: 1;
  margin-bottom: 1rem; /* Add some space at the bottom for smaller screens */
}

/* On medium screens and up, adjust the width of each section */
@media (min-width: 768px) {
  .deadlines-list,
  .deadlines-calendar {
    width: 50%;
    margin-bottom: 0; /* Reset the bottom margin for larger screens */
  }
}

/* You might also want to adjust padding and gap for smaller screens */
@media (max-width: 768px) {
  .deadlines-container {
    padding: 5px; /* Less padding for smaller screens */
  }

  .deadlines-content {
    gap: 10px; /* Less gap for smaller screens */
  }
}



